# build
build/
cmake-build-*/
*.o

# python
__pycache__/
*.pyc
*.pyo
.venv/

# data / model
data/
*.onnx
*.pt
*.pbnn

# logs
logs/

# system
.DS_Store

# onnxruntime headers (使用外部路径，不入仓)
include/deps/

# torch libs (too large for GitHub)
lib/pb_sdk/libtorch*.so
lib/pb_sdk/libc10.so
